@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Courgette', cursive;
}

.blue {
  color: #183CCE;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  cursor: grab;
}

#canvas:active {
  cursor: grabbing;
}

#intro {
  height: 100vh;
}

button {
  cursor: pointer;
}
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  z-index: 2;
  color: white;
}
header h1 {
  font-size: 3rem;
}

.header-links {
  display: flex;
  gap: 2rem;
}
.header-links i {
  font-size: 3rem;
  cursor: pointer;
}

nav {
  position: fixed;
  z-index: 2;
  background-color: white;
  bottom: 10%;
  display: flex;
  width: 60%;
  left: 20%;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid black;
}
nav i {
  font-size: 1.2rem;
}
nav a {
  color: #183CCE;
}

/* Hero */
.hero {
  margin-top: 5rem;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  color: white;
  width: 30%;
}
.explore-btn {
  margin-top: 2rem;
  border-radius: 20px;
  padding: .6rem 1rem;
  background: #183CCE;
  color: white;
  font-size: 1rem;
  font-family: 'Courgette', cursive;
}

.about {
  position: relative;
  z-index: 1;
  background-color: white;
  width: 40%;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5rem;
}
.about h1 {
  font-size: 2rem;
  color: #183CCE;
}
.about p {
  margin-top: 1rem;
}

/* Stack */
.tech-stack {
  position: relative;
  z-index: 1;
  color: white;
}
.tech-stack h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.tech-flex {
  display: flex;
  justify-content: space-between;
}
.tech {
  background-color: white;
  color: black;
  padding: 1rem;
  width: 40%;
  border-radius: 20px;
}
.tech h2 {
  text-align: center;
}
.tech-list {
  margin-top: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}
.tech-list div {
  display: flex;
  gap: 1rem;
  padding: .5rem;
}
.tech-list i {
  font-size: 2rem;
}

/* Logo colors */
.fa-html5 {
  color: #e34c26;
}
.fa-js {
  color: #f0db4f;
}
.fa-node-js {
  color: #68a063
}
.fa-css3-alt {
  color: #183CCE;
}
.fa-react {
  color: #183CCE;
}
.fa-python {
  color: #183CCE;
}
.github {
  color: #f34f29;
}
.fa-figma {
  color: #c8a3ac;
}
.fa-database {
  color: #68a063;
}
.fa-npm {
  color: #cb3837;
}
.fa-server {
  color: #183CCE;
}

/* Projects */
#projects {
  position: relative;
  z-index: 1;
  margin-top: 5rem;
}
#projects h1 {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.project {
  width: 100%;
  border: 2px solid white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}
.project-text {
  padding: 1rem;
}
.project p {
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}
.project-tech {
  margin-left: 2rem;
  margin-top: 1rem;
}
.project-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
.project-btns button {
  padding: .7rem 1.2rem;
  background-color: white;
  border-radius: 20px;
}

/* Contact */
#contact {
  position: relative;
  margin-top: 5rem;
  z-index: 1;
  height: 100vh;
}
#contact h1 {
  text-align: center;
  color: white;
  margin-bottom: 5rem;
  font-size: 2rem;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.my-email {
  background-color: #183CCE;
  color: white;
  width: 30%;
  text-align: center;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  height: 150px;
}
.my-email i {
  margin: 1rem 0 1rem;
  font-size: 2rem;
}
.my-email p {
  margin: 1rem 0 1rem;
}
.my-email small {
  padding-bottom: 1rem;
}
.contact-container form {
  width: 100%;
}
.contact-container form input, .contact-container {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  padding-left: 20px;
  border: none;
}
.form-input2 {
  margin-top: 2rem;
}
textarea {
  height: 100px;
  width: 100%;
  margin-top: 2rem;
  border-radius: 20px;
  padding: 20px 0 0 20px;
  resize: vertical;
}
form button {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #183CCE;
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  #intro {
    height: 90vh;
  }
  header h1 {
    font-size: 2rem;
  }

  .header-links {
    gap: 1rem;
  }
  .header-links i {
    font-size: 2rem;
  }

  .hero {
    text-align: center;
    width: 100%;
  }
  .about-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about {
    width: 80%;
  }

  .tech-flex {
    flex-direction: column;
    gap: 1rem;
  }

  .tech {
    width: 100%;
  }

  .projects-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  #contact {
    margin-bottom: 5rem;
  }
  .contact-container {
    flex-direction: column;
  }
  .my-email {
    width: 100%;
    padding-bottom: 1rem;
  }
}