@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Courgette', cursive;
}

.blue {
  color: #183CCE;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  cursor: grab;
}

#canvas:active {
  cursor: grabbing;
}

.intro {
  height: 100vh;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  z-index: 2;
  color: white;
}
header h1 {
  font-size: 3rem;
}

.header-links {
  display: flex;
  gap: 2rem;
}
.header-links i {
  font-size: 3rem;
  cursor: pointer;
}

.height {
  height: 500vh;
}

.explore-btn-container {
  text-align: center;
}
.explore-btn {
  position: relative;
  margin-top: 3rem;
  z-index: 2;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: white;
  font-size: 1.1rem;
  border: none;
}

nav {
  position: fixed;
  z-index: 2;
  background-color: white;
  bottom: 10%;
  display: flex;
  width: 60%;
  left: 20%;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid black;
}
nav i {
  font-size: 1.2rem;
}

.active-nav {
  color: #183CCE;
  border-radius: 50px;
  font-size: 1.5rem;
}

/* Hero */
.hero {
  margin-top: 5rem;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  color: white;
  width: 30%;
}
.explore-btn {
  margin-top: 2rem;
  border-radius: 20px;
  padding: 1rem 2rem;
  background: #183CCE;
  color: white;
  font-size: 1.5rem;
  font-family: 'Courgette', cursive;
}

.about {
  position: relative;
  z-index: 1;
  background-color: white;
  width: 40%;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5rem;
}
.about h1 {
  font-size: 2rem;
  color: #183CCE;
}
.about p {
  margin-top: 1rem;
}

/* Stack */
.tech-stack {
  position: relative;
  z-index: 1;
  color: white;
}
.tech-stack h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.tech-flex {
  display: flex;
  justify-content: space-between;
}
.tech {
  background-color: white;
  color: black;
  padding: 1rem;
  width: 40%;
  border-radius: 20px;
}
.tech h2 {
  text-align: center;
}
.tech-list {
  margin-top: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}
.tech-list div {
  display: flex;
  gap: 1rem;
  padding: .5rem;
}
.tech-list i {
  font-size: 2rem;
}

/* Logo colors */
.fa-html5 {
  color: #e34c26;
}
.fa-js {
  color: #f0db4f;
}
.fa-node-js {
  color: #68a063
}
.fa-css3-alt {
  color: #183CCE;
}
.fa-react {
  color: #183CCE;
}
.fa-python {
  color: #183CCE;
}
.fa-github {
  color: #f34f29;
}
.fa-figma {
  color: #c8a3ac;
}
.fa-database {
  color: #68a063;
}
.fa-npm {
  color: #cb3837;
}
.fa-server {
  color: #183CCE;
}